# Gradle
.gradle/
build/
**/build/

# Env files
**/.env
.env

# IDEs
.idea/
*.iml
*.iws
*.ipr
out/

# STS / Spring Tool Suite
.classpath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/